body {
    background: gray;
    color: white;
    text-align: center;
}

.list {
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    border: 1px dotted;
}

div.gallery {
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    width: 180px;
}

div.gallery img {
    width: 100%;
    height: auto;
}